azure
cffi==1.11.4
cryptography==2.1.4
azure-storage==0.32.0
Django==1.11.6
django-mssql==1.8
django-pyodbc==1.1.1
django-pyodbc-azure==1.11.0.0
django-sqlserver==1.11
mysqlclient
pyodbc==4.0.18
python-tds==1.8.2
pytz==2017.2
six==1.11.0
dj-database-url==0.4.2
pycrypto



urllib3==1.22